// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header {
  border-bottom: solid 1px grey;
  padding: 20px;
  text-decoration: none;
  background-color: #F8F8F8
}
